In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/Avaliacao_Credito/main/dados/clientes_cadastrados.csv')

In [4]:
data.shape

(438557, 18)

In [9]:
data.sort_values('ID_Cliente', desc)#.head(5)

,ID_Cliente,Genero,Tem_Carro,Tem_Casa_Propria,Qtd_Filhos,Rendimento_Anual,Categoria_de_renda,Grau_Escolaridade,Estado_Civil,Moradia,Idade,Tem_Celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_Familia,Anos_empregado
0,5008804,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4
1,5008805,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4
2,5008806,H,1,1,0,112500.0,Empregado,Ensino medio,Casado,Casa propria,59.0,1,0,0,0,Seguranca,2.0,3.1
3,5008808,M,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa propria,52.0,1,0,1,1,Venda,1.0,8.4
4,5008809,M,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa propria,52.0,1,0,1,1,Venda,1.0,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423317,7999660,M,0,0,0,90000.0,Servidor publico,Ensino superior,Solteiro,Casa propria,37.0,1,0,0,0,Equipe principal,1.0,14.9
426434,7999696,M,0,1,2,135000.0,Servidor publico,Ensino medio,Casado,Casa propria,34.0,1,0,0,0,Medicina,4.0,12.0
432885,7999738,H,0,1,0,180000.0,Empregado,Ensino medio,Casado,Casa propria,27.0,1,0,0,0,Outros,2.0,0.3
421225,7999784,M,1,1,1,180000.0,Associado comercial,Ensino medio,Casado,Casa propria,29.0,1,0,0,0,Outros,3.0,1.2
424339,7999952,M,0,1,1,157500.0,Servidor publico,Ensino superior,Casado,Casa propria,43.0,1,0,0,0,Equipe principal,3.0,10.1